@import url('https://fonts.googleapis.com/css2?family=Borel&family=REM&family=Roboto&family=Rubik&display=swap');

*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

/* body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #e5f0ff !important;
    /* gap: 3rem; 
    
} */

body.light-theme {
    /* background-color: #ffffff; */
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #e5f0ff !important;
    color:#121212 !important;
}

body.dark-theme {
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #121212 !important;
    color: #e5f0ff!important;
}









nav{
    width: 100%;
    height: 10vh;
    /* background-color: lightgrey; */
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;

}


.mobile-bar{
   width: 20%;
   height: 10vh;
   display: none;
}

.logo{
    width: 10%;
    height: 10vh;
    /* background-color: blueviolet; */
    display: flex;
    align-items: center;
    justify-content: space-around;
    overflow: hidden;
}

.space {
    width: 20%;
    height: 10vh;
    /* background-color: green; */
}

.tabs {
    width: 40%;
    height: 10vh;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.tabs-items{
    font-size: 2rem;
    font-weight: 700;
    font-family: Rubik;
}

.bton {
    width: 10%;
    height: 10vh;
    font-size: 2rem;
    /* background-color: blueviolet; */
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.toggle input[type="checkbox"] {
    display: none;
}

.toggle label {
    position: relative;
    width: 24px;
    height: 24px;
    background-color: #000;
    border-radius: 50%;
    transition: left 0.3s;
}

.toggle input:checked+label {
    left: calc(100% - 24px);
    background-color: #fff;
}



@media screen and (max-width:600px) {

    nav {
        height: 6vh;
    }
}

@media screen and (max-width:850px){
    

    .tabs{
        display: none;
    }

    .space {
        display: none;
    }

    .mobile-bar{
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .logo{
        width: 40%;
    }

    .bton{
        width: 20%;
        
    }
    
}


.hero{
    width: 100%;
    height: 90vh;

    /* border: 1px solid black;  */
    /* clip-path: polygon(100% 0, 50% 0, 100% 90%); */
    /* background-color: #0998E5;  */
    /* background-image: linear-gradient(to right top, #e5f0ff, #0998E5); */
}

.hero-mobile{
    width: 100%;
    height: 90vh;
    display: none;
}

.container{
    position: absolute;
    top: 15rem;
    width: 20%;
    height: 70vh;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    align-items: left;
    /* justify-content: space-around; */
    padding: 7% !important;
}

.text {
    width: 80%;
    height: max-content;
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    justify-content: left;

}

.buton {
    width: 80%;
    height: 20vh;
    /* border: 1px solid black; */
    font-size: 2rem !important;
    display: flex;
    padding-top: 3%;
    gap: 10%;
}

.buton div {
    font-size: 2rem !important;
    background-color: #0066FF;
    display: flex;
    align-items: center;
    gap: 1rem; 
    padding-inline: 3%;
}



.text-1{
    font-size: 3rem;
    font-family: Borel;
    font-weight: 500;
}

.text-2 {
    font-size: 10rem;
    font-family: Rubik;
    font-weight: 1000;
}

.text-3 {
    font-size: 5rem;
    font-family: Rem;
    font-weight: 600;
}


@media screen and (max-width:800px) {
    html{
        font-size: 50%;
    }
}

@media screen and (max-width:400px) {
    html {
        font-size: 45%;
    }
}

@media screen and (max-width:600px) {
    .hero {
        display: none;
    }

    .hero-mobile{
        display: block;
        background-image: url(./assets/mobile-bg-3.svg);
        background-repeat: no-repeat;

    }
}