@import url('https://fonts.googleapis.com/css2?family=Borel&family=REM&family=Roboto&family=Rubik&display=swap');

*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

/* body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #e5f0ff !important;
    /* gap: 3rem; 
    
} */

body.light-theme {
    /* background-color: #ffffff; */
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #e5f0ff !important;
    color:#121212 !important;
}

body.dark-theme {
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #121212 !important;
    color: #e5f0ff!important;
}









nav{
    width: 100%;
    height: 10vh;
    /* background-color: lightgrey; */
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;

}


.mobile-bar{
   width: 20%;
   height: 10vh;
   display: none;
}

.logo{
    width: 10%;
    height: 10vh;
    /* background-color: blueviolet; */
    display: flex;
    align-items: center;
    justify-content: space-around;
    overflow: hidden;
}

.space {
    width: 20%;
    height: 10vh;
    /* background-color: green; */
}

.tabs {
    width: 40%;
    height: 10vh;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.tabs-items{
    font-size: 2rem;
    font-weight: 700;
    font-family: Rubik;
}

.bton {
    width: 10%;
    height: 10vh;
    font-size: 2rem;
    /* background-color: blueviolet; */
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.toggle input[type="checkbox"] {
    display: none;
}

.toggle label {
    position: relative;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: #000; */
    border-radius: 50%;
    transition: left 0.3s;
    cursor: pointer;
}

.toggle label .span2{
   display: none;
}

.toggle input:checked+label {
    left: calc(100% - 24px);
    /* background-color: #fff; */

}

.toggle input:checked+label .span1{
    display: none;
}

.toggle input:checked+label .span2 {
    display: block;
}



@media screen and (max-width:600px) {

    nav {
        height: 6vh;
    }
}

@media screen and (max-width:850px){
    

    .tabs{
        display: none;
    }

    .space {
        display: none;
    }

    .mobile-bar{
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .logo{
        width: 40%;
    }

    .bton{
        width: 20%;
        
    }
    
}


.hero{
    width: 100%;
    height: 90vh;

    /* border: 1px solid black;  */
    /* clip-path: polygon(100% 0, 50% 0, 100% 90%); */
    /* background-color: #0998E5;  */
    /* background-image: linear-gradient(to right top, #e5f0ff, #0998E5); */
}

.hero-mobile{
    width: 100%;
    height: 90vh;
    display: none;
}

.container{
    position: absolute;
    top: 15rem;
    width: 20%;
    height: min-content;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    align-items: left;
    /* justify-content: space-around; */
    padding: 7% !important;
}

.text {
    width: 80%;
    height: max-content;
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    justify-content: left;

}

.buton {
    width: 80%;
    height: 20vh;
    /* border: 1px solid black; */
    font-size: 2rem !important;
    display: flex;
    padding-top: 5%;
    gap: 10%;
}


.buton  div {
    font-size: 2rem !important;
    background-color: #0066FF;
    display: flex;
    align-items: center;
    gap: 1rem; 
    padding-inline: 2%; 
}



.text-1{
    font-size: 3rem;
    font-family: Borel;
    font-weight: 500;
}

.text-2 {
    font-size: 10rem;
    font-family: Rubik;
    font-weight: 1000;
}

.text-3 {
    font-size: 5rem;
    font-family: Rem;
    font-weight: 600;
}


@media screen and (max-width:800px) {
    html{
        font-size: 50%;
    }
}

@media screen and (max-width:400px) {
    html {
        font-size: 45%;
    }
}

@media screen and (max-width:600px) {
    .hero {
        display: none;
    }

    .hero-mobile{
        display: block;
        background-image: url(./assets/mobile-bg-3.svg);
        background-repeat: no-repeat;
        /* border: 1px solid black; */

    }
}


/*About*/

.about-top{
    width: 100%;
    text-align: center;
    font-size: 3.1rem;
    /* text-decoration: underline; */
    font-family: Rubik;
    font-weight: 600;
}

.about{
    position: relative;
    width: 100%;
    height: max-content;
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.about-items-1{
    width: 40%;
    height: 70vh;
    /* border: 1px solid green; */
}

.about-items-2{
    width: 40%;
    height: 70vh;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    gap: 2rem;
    /* padding-right: 2%; */
    
}

.about-heading{
    font-size: 3rem;
    font-family: Roboto;
}

.address{
    font-size: 2rem;
    font-family: Rem;
}

.desctiption{
    font-size: 2rem;
    font-family: Rubik;
}

.about-btn{
        display: flex;
        align-items: center;
        gap: 1rem;
        margin-top: 5%;
        padding-inline: 2%;
}

.about-btn div{
        font-size: 2rem !important;
        background-color: #0066FF;
        display: flex;
        align-items: center;
        gap: 1rem;
        padding-inline: 2%;
}

@media screen and (max-width:800px) {
   .about{
    justify-content: space-between;
    padding-right: 0%;
   }
}


@media screen and (max-width:1260px) {
    
    .about-heading {
            font-size: 2.7rem;
    }

    .address {
        font-size: 1.7rem;
    }

     .desctiption {
        font-size: 1.7rem;
     }
}


/* @media screen and (max-width:1260px) {

    .about-heading {
        font-size: 2.2rem;
    }

    .address {
        font-size: 1.2rem;
    }

    .address {
        font-size: 1.2rem;
    }
}
 */

@media screen and (max-width:800px) {
   .about{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
   }

   .about-items-1 {
       width: 80%;
       height: auto;
   }

   .about-items-2 {
       width: 80%;
       height: auto;
   }
}



/*Project*/

.project{
    margin-top: 10%;
    position: relative;
    width: 100%;
    height: auto;
    /* border: 1px solid; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project-heading{
    width: 90%;
    height: 7vh;
    text-align: center;
    font-size: 3.1rem;
    /* text-decoration: underline; */
    font-family: Rubik;
    font-weight: 600;
}
.project-desc {
    width: 90%;
    text-align: center;
    height: 7vh;
    font-size: 2rem;
    font-family: Roboto;
    /* border: 1px solid; */
}

.project-cards{

    width: 90%;
    height: 80vh;
    /* border: 1px solid green; */
    
}

.card-row{
    margin-bottom: 3%;
    width: 100%;
    height: auto;
    /* border: 2px solid; */
    display: flex;
    flex-wrap:wrap;
    row-gap: 2.5rem !important;
    align-items: center;
    justify-content: space-evenly;
}

.card-row a{
    text-decoration: none !important;
    color: inherit;

}

.card-row a:hover{
    color: inherit !important;
}

.caard{
    height: 52rem;
    width: 32rem;
    background-color: #ADD8E6;
    /* border: 1px solid black; */
    overflow: hidden;
    color: #121212 !important;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;}

.card-img{
    width: 100%;
    height: 50%;
    background-color: #ADD8E6;
}

.card-img img{
    max-width: 100%;
    height: 100%;
}

.card-desc{

    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-between;
    width: 100%;
    height: 50%;
    /* background-color: brown; */
}

.card-heading{
    font-size: 2.5rem;
    font-family: Rem;
}

.project-intro{
    font-size: 1.8rem;
    font-family: Roboto;
}

.tech{
    margin-top: 3%;
    display: flex;
    align-items: left;
    justify-content: space-evenly;
}

.tech button{
   width: 6rem;
   height: 2rem;
   background-color: #0066FF;
   font-size: 1rem;
   font-weight: 600;
   color: inherit;
   border: none;
   border-radius: 3px;
}

.last-card{
    display: flex;
    font-size: 3rem;
    font-family: Borel !important;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #ADD8E6;

}